body {
    background-color: rgb(146, 168, 190);
    background-position: center;
    overflow-x: hidden;
    font-family: monospace;
}



.ingress {
    color: rgb(0, 0, 0);
    font-size: 18px;
}

.title {
    font-size: 50px;
    color: rgb(20, 113, 134);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.flex {
    display: flex;
    padding: 10px;
    flex-flow: row;
    justify-content: center;
}

.card {
    display: inline-block;
    background-color: rgb(157, 188, 216);
    padding: 30px;
    margin: 10px;
    border-radius: 30px;
    flex-grow: 1;
}